@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --dark: #111823;
  --semidark: #142229;
  --lightblue: #85A8F0;
  --mutedwhite: #F9F5EC;
  --delete:#8b2222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0 1rem;
  background-color: var(--dark);
  color: var(--mutedwhite)
}

h1, h2, h3, h4, h5, span {
  color: var(--lightblue);
}

.material-symbols-outlined {
  font-size: 24px;

}